<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f2510592c.js" crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="{{ url_for('static', filename='properties-tab/property.css') }}">
    <title>Properties</title>
</head>
<body>
    <div class="hero-section">
        <img src="{{ url_for('static', filename='img/bg_home2.jpg') }}">
        <div class="header">
            <div id="nav">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('properties') }}">Properties</a>
                <a href="{{ url_for('agents') }}">Agents</a>
                <a href="{{ url_for('calcu') }}">Calculator</a>
            </div>
            <div id="auth">
                <a>Get Started</a>
            </div>
        </div>
        <div class="hero-body">
            <h1><span>Explore</span> Properties</h1>
            <h3>Find the perfect property that aligns with your lifestyle and aspirations</h3>
        </div>
    </div>
    <div class="content">
        <div class="filter-property">
            <h4><span>Filter</span> Property</h4>
            <input placeholder="Search property">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input placeholder="Location (e.g., Cebu City, Cebu)">
            <i id="location-i" class="fa-solid fa-location-dot"></i>
            <input placeholder="Area (sqm)">
            <i class="fa-solid fa-landmark"></i>
            <div class="prop-type">Property type</div>
            <i id="prop-type-i" class="fa-solid fa-caret-down"></i>
            <div class="prop-feature">
                <input placeholder="Beds">
                <input placeholder="Baths">
                <input placeholder="Garage">
            </div>
            <div class="prop-price">
                <p>Price: </p>
                <div class="price-from">Any</div>
                <i class="fa-solid fa-caret-down"></i>
                <p>To</p>
                <div class="price-from">Any</div>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="prop-check">
                <i class="fa-solid fa-check"></i>
                <p>For Sale</p>
                <i class="fa-solid fa-check"></i>
                <p>For Rent</p>
            </div>
            <button>Filter <i class="fa-solid fa-filter"></i></button>
        </div>
        <div class="property">
            <p class="sort">Sort by: <span>Price (Lowest - Highest)</span></p>
            {% for _ in range(30) %}
                <div class="each-container">
                    <img class="pop" src="{{ url_for('static', filename='img/pop1.jpg') }}">
                    <div class="upper">
                        <p>House</p>
                        <p>For Sale</p>
                    </div>
                    <img class="profile" src="{{ url_for('static', filename='img/img1.svg') }}">
                    <h5>CEBU CITY GRAND RESIDENCES</h5>
                    <p class="pop-location">Binaliw, Cebu City</p>
                    <div class="pop-feature">
                        <p><i class="fa-solid fa-bed"></i><br>3 Beds</p>
                        <p><i class="fa-solid fa-bath"></i><br>2 Baths</p>
                        <p><i class="fa-solid fa-car"></i><br>1 Garage</p>
                        <p><i class="fa-solid fa-landmark"></i><br>2000 Sq.M.</p>
                    </div>
                    <div class="pop-price">
                        <div><span>₱ 2.3 million</span></div>
                        <div><i class="fa-regular fa-comment"></i><i class="fa-regular fa-heart"></i></div>
                    </div>
                </div>
            {% endfor %}
            <p class="page"><span>1</span></p>
        </div>
    </div>
</body>
</html>