body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    background-color: #f5f5f5;
    margin: 0;
}

span{
    color: #fa6f0a;
    font-weight: 800;
}

.hero-section{
    display: flex;
    flex-direction: column;
    padding: 1vw 5vw 1vw 5vw;
}

.hero-section img{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    object-fit: fill;
    z-index: -1;
    filter: brightness(0.8);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.hero-section .header {
    display: flex;
    overflow: hidden;
    align-items: center;
    margin-top: 1.2vw;
}

.hero-section .header #nav {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.hero-section .header #nav a {
    margin-right: 4vw;
    font-size: 1.2vw;
    cursor: pointer;
    color: #f5f5f5;
    text-decoration: none;
}

.hero-section .header #nav a:hover{
    color: #fa6f0a;
    transition: 0.s ease;
}

.hero-section .header #nav a:first-child {
    color: #fa6f0a;
    font-weight: 600;
}

.hero-section .header #auth {
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    align-items: center;
}

.hero-section .header #auth a{
    font-size: 1.2vw;
    color: #f5f5f5;
    margin-left: 0.5vw;
}

.hero-section .header #auth a:first-child:hover{
    color: #fa6f0a;
    transition: 0.s ease;
    cursor: pointer;
}

.hero-section .hero-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 8vw;
}

.hero-section .hero-body h1{
    font-size: 4vw;
    letter-spacing: 0.3vw;
    color: white;
    margin-bottom: 0;
    margin-top: 10vw;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.hero-section .hero-body h3{
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
}

.hero-section .hero-body .location{
    margin-top: 3vw;
    text-indent: 0.5vw;
    width: 35vw;
    height: 2.5vw;
    border-radius: 10px;
    font-size: 1.2vw;
    color: #050505;
    border: 0.5px solid gray;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.hero-section .hero-body .location::placeholder{
    opacity: 0.5;
}

.hero-section .hero-body #location-i{
    position: relative;
    top: -2.1vw;
    left: 16.2vw;
    font-size: 1.5vw;
    color: gray;
    cursor: pointer;
}

.hero-section .hero-body .second-options{
    display: flex;
    flex-direction: row;
    width: 35vw;
    align-content: center;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.hero-section .hero-body .second-options div:first-child, 
.hero-section .hero-body .second-options div:nth-child(2){
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #050505;
    font-size: 1vw;
    align-items: center;
    border: 0.5px solid gray;
    text-indent: 0.5vw;
    width: 12vw;
    height: 2.5vw;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.hero-section .hero-body .second-options div:first-child{
    margin-left: 1.5vw;
}

.hero-section .hero-body .second-options div:nth-child(2){
    margin-left: 1vw;
}

.hero-section .hero-body .second-options i{
    color: gray;
}

.hero-section .hero-body .second-options #sale-rent-i{
    position: relative;
    left: -1vw;
    top: 0.6vw;
    left: -14.5vw;
    font-size: 1.2vw;
    cursor: pointer;
}

.hero-section .hero-body .second-options #property-i{
    position: relative;
    left: -1vw;
    top: 0.6vw;
    left: -2.1vw;
    font-size: 1.2vw;
    cursor: pointer;
}

.hero-section .hero-body button{
    font-size: 1.2vw;
    width: 10vw;
    height: 2.5vw;
    background-color: #fa6f0a;
    color: #f5f5f5;
    border: 0.5px solid gray;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 1vw;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-section .hero-body button:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
}

.explore-city,
.popular,
.properties{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular{
    margin-top: 4vw;
}

.explore-city .city-label,
.popular .popular-label,
.properties .prop-label{
    font-size: 2vw;
    font-weight: 800;
    letter-spacing: 0.3vw;
    margin-bottom: 0;
}

.explore-city .city-sub,
.popular .popular-sub,
.properties .prop-sub{
    font-size: 1vw;
    font-weight: 600;
    width: 95vw;
    text-align: center;
}

.explore-city .city-row,
.popular .popular-carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4vw;
}

.explore-city .city-row .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9vw;
    width: 19vw;
    font-weight: 400;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-left: 2vw;
    margin-right: 2vw;
    cursor: pointer;
    transition: 0.3s ease;
}

.explore-city .city-row .row:hover{
    transform: scale(1.05);
    filter: brightness(1.2);

}

.explore-city .city-row .row img{
    width: 10vw;
    height: 8vw;
    margin-right: 1vw;
    border-radius: 10px;
}


.explore-city .city-row .row p{
    margin-top: 0.5vw;
    margin-bottom: 0;
    font-size: 0.9vw;
}

.popular .popular-carousel .each-container{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    cursor: pointer;
    margin-left: 2vw;
    margin-right: 2vw;
    transition: 0.3s ease;
}

.popular .popular-carousel .each-container:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
}

.popular .popular-carousel .each-container .pop{
    width: 22vw;
    height: 15vw;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(0.8);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.popular .popular-carousel .each-container .upper{
    display: flex;
    flex-direction: row;
    margin-top: -15vw;
    color: #f5f5f5;
}

.popular .popular-carousel .each-container .upper p{
    font-size: 1vw;
    font-weight: 600;
    padding: 0.5vw;
    border-radius: 5px;
    width: 50%;
}

.popular .popular-carousel .each-container .upper p:first-child{
    margin-left: 1vw;
}

.popular .popular-carousel .each-container .upper p:last-child{
    text-align: end;
    margin-right: 1vw;
}

.popular .popular-carousel .each-container .profile{
    border-radius: 50%;
    margin-top: 8.8vw;
    margin-left: 15.5vw;
    border: 0.2vw solid white;
    width: 3.5vw;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.popular .popular-carousel .each-container h5{
    font-size: 0.9vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
}

.popular .popular-carousel .each-container h5{
    font-size: 0.9vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0vw;
}

.popular .popular-carousel .each-container .pop-location{
    font-size: 0.9vw;
    margin-left: 1vw;
}

.popular .popular-carousel .each-container .pop-feature{
    display: flex;
    flex-direction: row;
    font-size: 0.9vw;
}

.popular .popular-carousel .each-container .pop-feature p{
    text-align: center;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}

.popular .popular-carousel .each-container .pop-feature p:first-child{
    margin-left: 1vw;
}

.popular .popular-carousel .each-container .pop-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vw;
    margin-top: 0.5vw;
}

.popular .popular-carousel .each-container .pop-price div{
    display: flex;
    margin-left: 1vw;
    font-size: 1.2vw;
    font-weight: 600;
    width: 50%;
}

.popular .popular-carousel .each-container .pop-price div:nth-child(2){
    justify-content: end;
    margin-right: 1vw;
}

.popular .popular-carousel .each-container .pop-price i{
    margin-left: 2vw;
    font-size: 1.2vw;
}

.popular .view-more{
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
}

.popular #pop-right-carousel{
    font-size: 2vw;
    border-radius: 100%;
    text-align: center;
    width: 2vw;
    height: 2vw;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translate(36.8vw, -17.6vw);
}

.popular #pop-left-carousel{
    font-size: 2vw;
    border-radius: 100%;
    text-align: center;
    width: 2vw;
    height: 2vw;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translate(-37vw, -19.6vw);
}

.properties .bg-img{
    position: absolute;
    top: 130vw;
    left: 0;
    height: auto;
    width: 100%;
    object-fit: fill;
    filter: brightness(0.5);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.properties{
    margin-top: 1.5vw;
    color: #f5f5f5;
}

.properties .prop-carousel{
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.properties .prop-carousel .prop-each-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    transition: 0.3s ease;
}

.properties .prop-carousel .prop-each-container:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
}

.properties .prop-carousel img{
    width: 20vw;
    height: 25vw;
    filter: brightness(0.8);
    border-radius: 10px;
}

.properties .prop-carousel p{
    font-size: 2vw;
    font-weight: 600;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-15vw);
}

.properties #prop-right-carousel{
    font-size: 2vw;
    border-radius: 100%;
    text-align: center;
    width: 2vw;
    height: 2vw;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translate(34vw, -19vw);
    color: #666666;
}

.properties #prop-left-carousel{
    font-size: 2vw;
    border-radius: 100%;
    text-align: center;
    width: 2vw;
    height: 2vw;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translate(-34vw, -21vw);
    color: #666666;
}

.dev{
    font-size: 1vw;
    font-weight: 600;
    margin-top: 0;
    align-self: center;
}

.dev a{
    font-weight: 800;
    text-decoration: none;
    color: #fa6f0a;
    cursor: pointer;
}

























  
  